/* .PostContainer{

} */
.SubPostContainer{
    width: 93%;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;

}
.PostImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.PostImages{
    width: 450px;
    height: 450px;
    object-fit: contain;
    border-radius: 10px;
}
.iconsForPost{
    width: 20px;
    /* margin-left: 10px; */
}
.moreicons{
    width: 20px;
    margin-left: 360px;
}
.commentInput{
    width: 24pc;
    margin-left: 10px;
    border: none;
    /* height: 6vh; */
}
.addButtonbtn{
    padding: 5px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 6px;
    margin-left: 39px;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
}