.ProfileRightbar{
    flex: 1;
}
.profilerightcontainer{
    width: 25pc;
    height: 30vh;
    background-color: white;
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
    overflow-y: scroll;
}
.rightcontainer2{
    width: 25pc;
    height: 60vh;
    background-color: white;
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
    overflow-y: scroll;
}
.adsimg{
    width: 130px;
    height: 80px;
    object-fit: cover;
}
.adsContainer{
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
}
.profileImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
.addFriend{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.friendsImage{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;

}